<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>Greedy Diet - Home</title>

	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/js/bundles/home.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="main-content-wrapper"></div>
	<script src="/js/bundles/common.bundle.js"></script>
	<script src="/js/bundles/misc.home.bundle.js"></script>
</body>
</html>